:root {
  --gold: #af9151;
  --red: #ff5c50;
  --blue: #0000ff;

  --space-XS: 10px;
  --space-S: 20px;
  --space-M: 60px;
  --space-L: 120px;
  --space-XL: 240px;

  --fontSize-XS: 17px;
  --lineHeight-XS: 21.25px;

  --fontSize-S: 29.75px;
  --lineHeight-S: 31.45px;

  --fontSize-M: 42.5px;
  --lineHeight-M: 43.85px;

  --fontSize-L: 85px;
  --lineHeight-L: 85.85px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "ABCDaily";
  src: url("../../public/fonts/ABCDailyBETA-Regular.otf");
}

@font-face {
  font-family: "ABCDailyScotch";
  src: url("../../public/fonts/ABCDailyScotchBETA-Bold.otf");
}

::selection {
  color: var(--gold);
  background: var(--blue);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "ABCDaily";
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
  background: var(--gold);
  /* overscroll-behavior: none; */
  -webkit-overflow-scrolling: touch;
}

body {
  color: var(--blue);
}

a {
  color: inherit;
  text-decoration: none;
}

p a {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

p + p {
  padding-top: 1em;
}

em {
  font-family: "ABCDailyScotch";
  font-style: normal;
}

h1,
h2,
h3 {
  font-weight: normal;
}

h1,
h2 {
  font-size: var(--fontSize-L);
  line-height: var(--lineHeight-L);
  text-align: center;
}

h3 {
  font-size: var(--fontSize-M);
  line-height: var(--lineHeight-M);
}

p {
  font-size: var(--fontSize-S);
  line-height: var(--lineHeight-S);
}

input,
form {
  background: none;
  height: 69px;
  font-family: "ABCDaily";
  font-size: var(--fontSize-M);
  line-height: var(--lineHeight-M);
  color: var(--blue);
}

input:focus {
  outline: 0;
}

.singlePageWrapper {
  background: var(--gold);
  padding: var(--space-L) var(--space-S);
}

.singlePageWrapper h1:first-child {
  padding-bottom: var(--space-XL);
}

.columnPageWrapper {
  display: flex;
  /* padding-top: var(--space-L); */
}

.columnPageHeadline {
  position: absolute;
  top: var(--space-L);
  width: 100%;
  text-align: center;
  color: white;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.columnWrapper {
  padding: 500px var(--space-S) var(--space-S) var(--space-S);
  width: 50%;
}

.bgRed {
  color: var(--blue);
  background: var(--red);
}

.bgBlue {
  background: var(--blue);
  color: var(--red);
}

.introText p {
  font-size: var(--fontSize-M);
  line-height: var(--lineHeight-M);
}

.introText {
  padding-bottom: var(--space-S);
}

.twoColumns p {
  column-count: 2;
  column-gap: var(--space-S);
}

.imageCentered {
  width: 100%;
  display: flex;
  justify-content: center;
}

.imageCentered span {
  max-width: 1200px;
  padding: var(--space-S) 0;
}

.imageFullwidth {
  width: 100%;
  padding-bottom: var(--space-XS);
}

.centered {
  text-align: center;
}

.sectionWrapper {
  padding-bottom: var(--space-L);
}

.sectionWrapper h2 {
  padding-bottom: var(--space-S);
}

.button {
  padding: 2px 20px 7px;
  border: 3px solid var(--blue);
  border-radius: 50px;
}

.formButton {
  height: 69px;
  background: none;
  margin: 0 var(--space-S);
  font-family: "ABCDaily";
  font-size: var(--fontSize-M);
  line-height: var(--lineHeight-M);
  color: var(--blue);
  cursor: pointer;
}

.downloadRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.downloadLeft {
  display: flex;
}

.downloadDate,
.downloadTitle {
  padding-right: var(--space-M);
  text-align: left;
}

.downloadButton {
  text-transform: uppercase;
}

.downloadButton:hover,
.formButton:hover {
  background: var(--blue);
  color: var(--gold);
}

.registrationForm {
  margin: var(--space-S);
}

.pressDisclaimer p {
  font-size: var(--fontSize-S);
  line-height: var(--lineHeight-S);
  margin-bottom: var(--space-S);
}

.teamWrapper p {
  font-size: var(--fontSize-M);
  line-height: var(--lineHeight-M);
  padding: 0 !important;
  text-align: center;
}

.teamWrapper a {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

.dankWrapper p,
.imprint p {
  font-size: var(--fontSize-M);
  line-height: var(--lineHeight-M);
  text-align: center;
}

.dankLogos {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 0 20%;
  padding-top: var(--space-M);
  padding-bottom: var(--space-L);
}

.landingWrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--gold);
  padding: var(--space-S);
  cursor: pointer;
  transition: all 0.5s ease-in;
  z-index: 200;
}

.landingWrapper h3 {
  text-align: center;
}

.artistSelector,
.groupPicture {
  padding-bottom: 100px;
}

.artistSelector h3 {
  font-size: var(--fontSize-S);
  line-height: var(--lineHeight-S);
  text-align: center;
}

.artistWrapper {
  padding-bottom: var(--space-L);
}

.artistSelector h2 {
  line-height: 100px;
  cursor: pointer;
}

.artistSelector h3 {
  padding-bottom: 20px;
}

.artistAnchor {
  transform: translateY(-100px);
}

.columnWrapper {
  height: 101vh;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.columnWrapper::-webkit-scrollbar {
  display: none;
}

.exhibitionWrapper h1 {
  padding-bottom: var(--space-L);
}

.exhibitionWrapper h3 {
  text-align: center;
}

.headlineWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: var(--space-XS);
  margin-top: var(--space-M);
}

.exhibitionArtists {
  padding-bottom: var(--space-S);
}

.exhibitionArtists h3 {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

.sliderWrapper {
  margin: var(--space-S) 0;
  position: relative;
}

.caption {
  font-size: var(--fontSize-XS);
  line-height: var(--lineHeight-XS);
}

.index {
  font-size: var(--fontSize-M);
  position: relative;
  width: 100%;
  text-align: center;
  transform: translateY(-107px);
  z-index: 50;
}

.sliderControl {
  display: flex;
  position: absolute;
  top: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
}

.sliderControlInner {
  position: relative;
  width: 50%;
  height: 100%;
}

.animationWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
}

@media screen and (max-width: 1000px) {
  :root {
    --gold: #af9151;
    --red: #ff5c50;
    --blue: #0000ff;

    --space-XS: 10px;
    --space-S: 20px;
    --space-M: 60px;
    --space-L: 120px;
    --space-XL: 240px;

    --fontSize-XS: 17px;
    --lineHeight-XS: 21.25px;

    --fontSize-S: 29.75px;
    --lineHeight-S: 31.45px;

    --fontSize-M: 20px;
    --lineHeight-M: 23px;

    --fontSize-L: 85px;
    --lineHeight-L: 85.85px;
  }
}
