:root {
  --gold: #af9151;
  --red: #ff5c50;
  --blue: #0000ff;

  --space-XS: 10px;
  --space-S: 20px;
  --space-M: 60px;
  --space-L: 120px;
  --space-XL: 240px;

  --fontSize-XS: 17px;
  --lineHeight-XS: 21.25px;

  --fontSize-S: 29.75px;
  --lineHeight-S: 31.45px;

  --fontSize-M: 38.25px;
  --lineHeight-M: 39.5px;

  --fontSize-L: 85px;
  --lineHeight-L: 85.85px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "ABCDaily";
  src: url("../../public/fonts/ABCDailyBETA-Regular.otf");
}

@font-face {
  font-family: "ABCDailyScotch";
  src: url("../../public/fonts/ABCDailyScotchBETA-Bold.otf");
}

::selection {
  color: var(--gold);
  background: var(--blue);
}

::selection {
  color: var(--gold);
  background: var(--blue);
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "ABCDaily";
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
  background: var(--gold);
  /* overscroll-behavior: none; */
  -webkit-overflow-scrolling: touch;
}

body {
  color: var(--blue);
}

a {
  color: inherit;
  text-decoration: none;
}

p a {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

p + p {
  padding-top: 1em;
}

em {
  font-family: "ABCDailyScotch";
  font-style: normal;
}

h1,
h2,
h3 {
  font-weight: normal;
  hyphens: auto;
}

h1,
h2 {
  font-size: var(--fontSize-L);
  line-height: var(--lineHeight-L);
  text-align: center;
}

h3 {
  font-size: var(--fontSize-M);
  line-height: var(--lineHeight-M);
}

p {
  font-size: var(--fontSize-S);
  line-height: var(--lineHeight-S);
  hyphens: auto;
}

input,
form {
  background: none;
  height: 69px;
  font-family: "ABCDaily";
  font-size: var(--fontSize-M);
  line-height: var(--lineHeight-M);
  color: var(--blue);
}

input:focus {
  outline: 0;
}

.singlePageWrapper {
  background: var(--gold);
  padding: var(--space-XL) var(--space-S);
  min-height: 100vh;
}

.singlePageWrapper h1:first-child {
  padding-bottom: calc(var(--space-L));
}

.introSliderWrapper {
  position: relative;
  width: 100vw;
  height: calc(100vh - 50px);
  overflow: hidden;
  cursor: pointer;
}

.introSlideWrapper {
  width: 100%;
  height: calc(100vh - 50px);
}

.introMarquee {
  position: fixed;
  bottom: 0;
  height: 70px;
  z-index: 10;
  background: var(--gold);
  width: 100vw;
}

.marqueeBig p {
  font-size: var(--fontSize-M);
  padding-right: var(--space-XS);
}

.marqueeBig {
  display: flex;
  align-items: flex-end;
  padding-right: var(--space-S);
  transform: translateY(-20px);
}

.marqueeSmall p {
  font-size: var(--fontSize-XS);
  line-height: var(--lineHeight-XS);
  padding-right: var(--space-XS);
}

.marqueeBig p br {
  display: none;
}

.marqueeSmall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  height: 68px;
  padding-right: var(--space-S);
}

.marqueeEntryWrapper {
  display: flex;
  padding-right: var(--space-S);
}

.showMore {
  cursor: pointer;
  text-align: center;
  font-size: var(--fontSize-XS);
  margin-top: var(--space-M);
}

.programButton {
  height: 30px;
  margin-top: 20px;
  font-size: var(--fontSize-XS);
  line-height: var(--lineHeight-XS);
  padding: 0 10px;
  border-radius: 100px;
  display: flex;
  align-items: center;
}

.programBig {
  width: 100%;
  display: flex;
  justify-content: center;
}

.programBig p {
  font-size: var(--fontSize-M);
  line-height: var(--lineHeight-M);
  max-width: 1300px;
  text-align: center;
}

.programSmall {
  padding-top: var(--space-XS);
}

.programSmall p {
  font-size: var(--fontSize-XS);
  line-height: var(--lineHeight-XS);
  text-align: center;
}

.twoColumn {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.oneColumn {
  height: 100%;
  width: 50vw;
  padding-top: var(--space-L);
  text-align: center;
  z-index: 0;
}

.hoverImage {
  width: 50vw;
  height: 100vh;
  position: absolute;
  display: none;
  top: 0;
  z-index: 0;
  pointer-events: none;
}

.nameListWrapper {
  padding-top: var(--space-M);
  z-index: 500;
}

.nameListWrapper h2 {
  z-index: 500;
}

.nameListWrapper h2:first-child {
  padding-bottom: var(--space-M);
}

.nameListWrapper h2:hover {
  color: var(--gold);
}

.nameWrapper:hover {
  color: var(--gold);
}

.nameWrapper {
  height: 85px;
}

.nameWrapper:hover .hoverImage {
  display: block;
  z-index: 0;
  /* position: absolute; */
}

.blue {
  background: var(--blue);
  color: var(--red);
}

.orange {
  background: var(--red);
}

.slider-horizontal {
  padding-bottom: 0px !important;
}

.columnPageWrapper {
  display: flex;
  /* padding-top: var(--space-L); */
}

.columnPageHeadline {
  position: absolute;
  top: var(--space-L);
  width: 100%;
  text-align: center;
  color: white;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.columnWrapper {
  padding: 350px var(--space-S) var(--space-S) var(--space-S);
  width: 50%;
}

.columnWrapper h3 {
  text-align: center;
}

.bgRed {
  color: var(--blue);
  background: var(--red);
}

.bgBlue {
  background: var(--blue);
  color: var(--red);
}

.introText {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.introText h3 {
  padding-bottom: var(--space-XS);
}

.introText p {
  font-size: var(--fontSize-S);
  line-height: var(--lineHeight-S);
  max-width: 1300px;
}

.introTextBottom p {
  font-size: var(--fontSize-S);
  line-height: var(--lineHeight-S);
}

.introTextBottom {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: var(--space-S);
}

.introTextBottom span {
  width: clamp(1000px, 50%, 100vw);
}

.twoColumns p {
  column-count: 2;
  column-gap: var(--space-S);
}

.imageCentered {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: var(--space-S) 0 var(--space-M);
}

.imageCentered span {
  width: 1200px;
  height: 800px;
  max-width: 100vw;
  position: relative;
}

.imageFullwidth {
  width: 100%;
  padding-bottom: var(--space-XS);
}

.textCurator {
  padding: var(--space-S) var(--space-XL) 0;
  text-indent: 30px;
}

.imageCurator {
  position: relative;
  width: 30vw;
  height: 40vw;
  margin-top: var(--space-S);
}

.imageCuratorOuter {
  width: 100%;
  display: flex;
  justify-content: center;
}

.centered {
  text-align: center;
}

.sectionWrapper {
  padding-bottom: var(--space-M);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button {
  padding: 2px 20px 7px;
  border: 3px solid var(--blue);
  border-radius: 50px;
}

.formButton {
  height: 69px;
  background: none;
  margin: 0 var(--space-S);
  font-family: "ABCDaily";
  font-size: var(--fontSize-M);
  line-height: var(--lineHeight-M);
  color: var(--blue);
  cursor: pointer;
}

.downloadRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.downloadLeft {
  display: flex;
}

.downloadDate,
.downloadTitle {
  padding-right: var(--space-M);
  text-align: left;
}

.downloadButton {
  text-transform: uppercase;
}

.downloadButton:hover,
.formButton:hover {
  background: var(--blue);
  color: var(--gold);
}

.registrationForm {
  margin: var(--space-S);
}

.registrationForm form {
  display: flex;
  width: 100%;
  justify-content: center;
}

.pressDisclaimer p {
  font-size: var(--fontSize-S);
  line-height: var(--lineHeight-S);
  margin-bottom: var(--space-S);
}

.rfm-marquee {
  min-width: unset !important;
}

.teamWrapper p {
  font-size: var(--fontSize-S);
  line-height: var(--lineHeight-S);
  padding: 0 !important;
  text-align: center;
  max-width: 1300px;
}

.teamWrapper a {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

.dankWrapper p,
.imprint p {
  font-size: var(--fontSize-M);
  line-height: var(--lineHeight-M);
  text-align: center;
}

.dankLogos {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 0 20%;
  padding-top: var(--space-M);
  padding-bottom: var(--space-L);
}

.landingWrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--gold);
  padding: var(--space-S);
  cursor: pointer;
  transition: all 0.5s ease-in;
  z-index: 2000;
}

.landingWrapper h3 {
  text-align: center;
}

.artistScrollMenu {
  position: fixed;
  top: calc(50% - 150px);
  margin: var(--space-M) 0;
  width: 240px;
  font-family: "ABCDailyScotch";
  z-index: 500;
  padding-left: 35px;
  font-size: var(--fontSize-XS);
  line-height: var(--lineHeight-XS);
}

.artistScrollMenu div {
  margin-bottom: var(--space-S);
  cursor: pointer;
}

.artistScrollMenu p {
  font-size: var(--fontSize-XS);
  line-height: var(--lineHeight-XS);
}

.dot {
  position: absolute;
  width: 15px !important;
  height: 15px;
  border-radius: 20px;
  background: var(--blue);
  left: var(--space-XS);
  margin-top: 3px;
}

.artistSelector,
.groupPicture,
.groupPictureMobile {
  margin-bottom: 100px;
}

.groupPicture,
.groupPictureMobile,
.chroniclePicture {
  position: relative;
  width: 100%;
}
.groupPictureMobile {
  display: none;
}

.chroniclePicture {
  margin-bottom: 5px;
  aspect-ratio: 1.5;
}

.artistSelector h3 {
  font-size: var(--fontSize-S);
  line-height: var(--lineHeight-S);
  text-align: center;
}

.artistWrapper {
  padding-bottom: var(--space-L);
}

.artistSelector h2 {
  line-height: 100px;
  /* cursor: pointer; */
}

.artistSelector h3 {
  padding-bottom: 20px;
}

.artistAnchor {
  transform: translateY(-100px);
}

.columnWrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.columnWrapper::-webkit-scrollbar {
  display: none;
}

.exhibitionWrapper h1 {
  padding-bottom: var(--space-L);
}

.exhibitionWrapper h3 {
  text-align: center;
}

.headlineWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: var(--space-XS);
  margin-top: var(--space-M);
}

.exhibitionArtists {
  text-align: center;
  padding-bottom: var(--space-M);
}

.exhibitionArtists h3 {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
  padding-bottom: var(--space-XS);
}

.exhibitionEntryWrapper {
  padding: var(--space-M) var(--space-L) var(--space-XL);
}
.exhibitionImageWrapper {
  padding-top: var(--space-M);
}

.sliderWrapper {
  margin: var(--space-S) 0;
  position: relative;
}

.caption {
  font-size: var(--fontSize-XS);
  line-height: var(--lineHeight-XS);
}

.index {
  font-size: var(--fontSize-M);
  position: relative;
  width: 100%;
  text-align: center;
  transform: translateY(-101px);
  z-index: 50;
}

.sliderControl {
  display: flex;
  position: absolute;
  top: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
}

.sliderControlInner {
  position: relative;
  width: 50%;
  height: 100%;
}

.animationWrapper {
  width: 100vw;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: fadeIn 0.5s ease;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
}

.animationInner {
  width: 100vw;
}

.artistWrapper h2 {
  padding-bottom: var(--space-XS);
}

.curatorTitle p {
  font-size: var(--fontSize-L);
  line-height: var(--lineHeight-L);
  font-family: "ABCDailyScotch";
  text-align: center;
}

.scrollLink {
  padding: 0 0 var(--fontSize-XS) 0;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  cursor: pointer;
}

.imageCaption {
  position: absolute;
  transform: translateY(35px);
  font-size: var(--fontSize-XS);
  line-height: var(--lineHeight-XS);
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.imageCaptionChroniclers {
  font-size: var(--fontSize-XS);
  line-height: var(--lineHeight-XS);
  text-align: center;
  padding-bottom: var(--space-S);
}

.imageCaptionCurator {
  position: absolute;
  bottom: 0;
  transform: translateY(34px);
  font-size: var(--fontSize-XS);
}

.biographyWrapper {
  padding-top: Var(--space-L);
}

.artistsMobile {
  display: none;
}

.chronicleEntryWrapper {
  width: 100%;
  display: flex;
}

.chronicleRight {
  justify-content: flex-end;
}

.chronicleLeft {
  padding-right: var(--space-S);
}

.chronicleEntryInner h2 {
  padding-bottom: var(--space-S);
}

.introTextChronicles {
  padding-bottom: var(--space-M);
}

.textChronicles {
  font-size: var(--fontSize-S);
  line-height: var(--lineHeight-S);
  padding-bottom: var(--space-M);
}

.imageChronicles {
  width: 100%;
  display: flex;
  padding: var(--space-S) 0 var(--space-M);
}

.imageArray {
  padding-top: var(--space-M);
}
/* 
.chroniclesTextWrapper {
  display: flex;
} */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.liveStreamWrapper {
  padding: 400px var(--space-S);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.liveStreamWrapper h1 {
  padding: 0 200px;
}

.liveStreamInfo {
  position: absolute;
  left: var(--space-S);
  font-size: var(--fontSize-S);
}

.videoWrapper {
  width: 60%;
  max-width: 2000px;
  min-width: 1000px;
  margin-top: var(--space-S);
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.videoDescription {
  padding-top: var(--space-S);
}

.swiper-horizontal {
  padding-bottom: 43px !important;
}

.rsvpForm form {
  height: auto;
  padding-bottom: var(--space-L);
}

.checkboxWrapper {
  padding-bottom: var(--space-M);
}

.inputRow {
  padding-bottom: var(--space-XS);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.inputRow label {
  width: 700px;
}

.inputRow input {
  width: 100%;
  transform: translateY(-10px);
}

/* Customize the label (the container) */
.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 55px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-bottom: var(--space-S);
}

.checkboxContainer label {
  cursor: pointer;
}

/* Hide the browser's default checkbox */
.checkboxContainer input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 35px;
  width: 35px;
  background-color: none;
  border-radius: 5px;
  border: 3px solid var(--blue);
}

/* On mouse-over, add a grey background color */
.checkboxContainer:hover input ~ .checkmark {
  background-color: #cccccc9b;
}

/* When the checkbox is checked, add a blue background */
.checkboxContainer input:checked ~ .checkmark {
  /* background-color: var(--blue); */
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxContainer .checkmark:after {
  left: 9px;
  top: 3px;
  width: 8px;
  height: 16px;
  border: solid var(--blue);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.submitButton {
  margin-top: var(--space-M);
}

.dankListe {
  padding-top: var(--space-M);
}

.dankListe p {
  font-size: var(--fontSize-S);
  line-height: calc(var(--lineHeight-S) / 2);
  padding-bottom: 0px;
}

.teamHeadline p {
  font-size: var(--fontSize-L);
  line-height: var(--lineHeight-L);
}

.artistMedium {
  padding: var(--space-M) var(--space-L);
  text-align: center;
}

.artistText {
  padding-bottom: var(--space-M);
}
.artistText h2 {
  padding-bottom: var(--space-XS);
}

.switchWrapper {
  position: absolute;
  top: 105px;
  left: calc(50vw - 250px);
  width: 450px;
  border: 3px solid var(--blue);
  border-radius: 50px;
  height: 70px;
  z-index: 10;
  transition: opacity 0.5s ease;
  cursor: pointer;
}
.switchNamesWrapper {
  display: flex;
  height: 60px;
}

.switchNamesWrapper span {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 2px;
  height: 60px;
}

.switchNamesWrapper p {
  line-height: 24px;
}

.switchButton {
  width: 225px;
  position: absolute;
  top: -2px;
  border-radius: 50px;
  height: 66px;
  transition: left 0.2s ease;
}

.switchButtonMobile {
  display: none;
  width: 38vw;
  position: absolute;
  top: -2px;
  border-radius: 50px;
  height: 60px;
  transition: left 0.2s ease;
}

.columnPageWrapperSwitch {
  width: 190vw;
  transition: transform 0.2s ease;
  display: flex;
}

.artistSingleWrapper {
  padding: var(--space-XL) 0;
}

.artistSingleWrapper p {
  padding: 0 var(--space-XL);
}

.artistSingleWrapper h2 {
  padding: var(--space-M) var(--space-XL) var(--space-XS);
}

.medium {
  font-size: var(--fontSize-XS);
  line-height: var(--lineHeight-XS);
  text-align: center;
  padding-top: var(--space-S);
}

.worksWrapper {
  width: 90vw;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 150px var(--space-L) var(--space-M);
}

.worksInner {
  width: 50%;
  min-height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  hyphens: none;
}

.worksInner h2 {
  hyphens: none;
}

.exhibitionMobile {
  display: none;
}

.artistInfoWrapper h3 {
  text-align: center;
  padding-top: var(--space-L);
  padding-bottom: var(--space-XS);
}

.artistInfoWrapper p {
  text-align: center;
}

.chroniclesPage {
  padding: var(--space-L) var(--space-XL) 0;
  text-indent: 30px;
}

.chroniclesPage h2 {
  padding-bottom: var(--space-S);
}

@media screen and (max-width: 1700px) {
  :root {
    --fontSize-S: 25px;
    --lineHeight-S: 28px;

    --fontSize-L: 70px;
    --lineHeight-L: 70px;
  }
  .imageCentered span {
    width: 1000px;
    height: 666px;
  }
  .artistSelector h2 {
    line-height: 80px;
  }
  .imageCaptionCurator {
    transform: translateY(30px);
  }
  .imageCaption {
    font-size: var(--fontSize-XS);
  }

  /* .artistSingleHeadline h2 {
    line-height: 39px;
  } */
}

@media screen and (max-width: 1300px) {
  .imageCentered span {
    width: 100vw;
    height: 60vw;
  }

  .artistSelector h2 {
    line-height: 80px;
    font-size: 40px;
  }

  .top {
    width: 10px;
    height: 10px;
    transform: translateY(-200px);
  }

  .imageCaptionCurator {
    transform: translateY(30px);
  }
  .imageCaption {
    transform: translateY(35px);
    font-size: var(--fontSize-XS);
  }
  .groupPicture {
    display: none;
  }
  .groupPictureMobile {
    display: block;
  }
  .videoWrapper {
    width: 100%;
    min-width: 0;
  }
  .liveStreamWrapper h1 {
    padding: 0 50px;
  }
  .imageCurator {
    width: 40vw;
    height: 55vw;
  }
  .chroniclesTextWrapper {
    display: block;
  }
  .chroniclesLeft {
    padding-bottom: var(--space-L);
  }
  .inputRow input {
    height: unset;
  }
  .switchOuter {
    position: relative;
  }
  .artistSingleWrapper p {
    padding: 0 var(--space-M);
  }
  .exhibitionDesktop {
    display: none;
  }
  .exhibitionMobile {
    display: block;
  }
  .nameListWrapper h2:first-child {
    padding-bottom: 80px;
  }
  .nameWrapper {
    height: 68px;
  }
  .columnWrapper {
    padding-top: 250px;
  }
  .chroniclesPage {
    padding: var(--space-L) var(--space-M) 0;
  }
  .textCurator {
    padding: var(--space-S) var(--space-M) 0;
  }
  .artistSingleWrapper h2 {
    padding: var(--space-M) var(--space-XS) var(--space-XS);
  }

  .scrollCurator {
    background: var(--gold);
  }

  .artistScrollMenu {
    padding-top: var(--space-XS);
    padding-left: calc(50vw - 100px);
    top: 0;
    left: 0;
    margin: 0;
    width: 100vw;
    text-align: center;
    transition: padding 0.5s ease;
    /* padding-left: 35px; */
  }

  .artistScrollMenu div {
    margin-bottom: var(--space-XS);
    width: 200px;
  }
  .navVisible {
    padding-top: var(--space-XS);
  }
  .navHidden {
    padding-top: 90px;
  }
}

@media screen and (max-width: 1000px) {
  :root {
    --space-XS: 5px;
    --space-S: 10px;
    --space-M: 30px;
    --space-L: 100px;
    --space-XL: 100px;

    --fontSize-XS: 17px;
    --lineHeight-XS: 21.25px;

    --fontSize-S: 17px;
    --lineHeight-S: 21.25px;

    --fontSize-M: 19px;
    --lineHeight-M: 23px;

    --fontSize-L: 40px;
    --lineHeight-L: 42px;
  }
  p a {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
  }
  .button,
  .closeButton {
    padding: 4px 20px 5px;
    border: 1px solid var(--blue);
    border-radius: 50px;
  }

  .dankLogos {
    padding-top: 50px;
    width: 100vw;
    padding: var(--space-M);
    flex-direction: row;
    justify-content: space-evenly;
  }

  .dankLogos span {
    width: 100px;
  }

  .mobileHeadline {
    width: 100%;
    text-align: center;
  }
  .artistSelector {
    padding-top: 60px;
  }

  .artistSelector h2 {
    line-height: 50px;
    hyphens: none;
    -webkit-hyphens: none;
  }
  .downloadDate {
    padding-top: var(--space-M);
  }

  .downloadRow,
  .downloadLeft {
    flex-direction: column;
  }
  .downloadLeft p {
    text-align: center;
    width: 100%;
  }
  .downloadTitle,
  .downloadDate {
    /* padding-top: var(--space-S); */
    padding-right: 0;
  }
  .downloadTitle {
    padding-bottom: var(--space-S);
  }
  .registrationForm form {
    padding-top: var(--space-M);
    flex-direction: column;
  }
  .formButton {
    height: 34px;
    margin: var(--space-XS) 0 var(--space-M);
    width: 100%;
  }
  .pressDisclaimer {
    text-align: left;
  }
  .pressDisclaimer p a,
  .sectionWrapper p a {
    text-underline-offset: 3px;
    text-decoration-thickness: 1.5px;
  }

  .columnWrapper {
    padding-top: 200px;
  }
  .columnPageWrapper {
    transition: transform 0.2s ease;
  }
  .artistsDesktop {
    display: none;
  }
  .artistsMobile {
    display: block;
    width: 190vw;
  }

  .imageCaption {
    transform: translateY(30px);
    font-size: 13px;
    line-height: 15px;
  }
  .imageCaptionCurator {
    transform: translateY(20px);
    font-size: 13px;
    line-height: 15px;
  }
  .textCurator {
    margin-top: var(--space-S);
    padding: var(--space-S) var(--space-XS) 0;
  }
  .introTextBottom span {
    width: 100%;
  }
  .chronicleEntryInner {
    width: 100%;
    padding-bottom: var(--space-M);
  }
  .imageCurator {
    width: 100vw;
    height: 150vw;
  }
  .exhibitionWrapper {
    display: none;
  }
  .exhibitionArtists {
    text-align: center;
    padding: var(--space-M) 0;
  }
  .exhibitionArtists h3 {
    font-size: var(--fontSize-M);
    line-height: 30px;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    padding-bottom: 0;
  }
  .exhibitionEntryWrapper {
    padding: 0;
  }
  .artistSelector {
    margin-bottom: 50px;
  }
  .columnPageHeadline {
    display: none;
  }
  .checkmark {
    border: 1px solid var(--blue);
    height: 25px;
    width: 25px;
    border-radius: 3px;
  }
  .chronicleLeft {
    padding-right: 0;
  }
  .offsetTop {
    transform: translateY(0);
  }
  .chroniclesPage {
    padding: var(--space-L) var(--space-XS) 0;
    padding-bottom: inherit;
    margin-bottom: 0;
  }
  .dankListe p {
    line-height: var(--lineHeight-S);
  }

  .switchWrapper {
    top: 75px;
    width: 70vw;
    left: calc(50vw - 35vw);
    height: 60px;
    border-width: 2px;
    position: absolute;
  }
  .switchNamesWrapper {
    display: flex;
    height: 60px;
  }

  .switchNamesWrapper span {
    height: 55px;
  }

  .switchNamesWrapper p {
    line-height: 18px;
  }

  .switchButton {
    display: none;
  }

  .switchButtonMobile {
    display: block;
  }
 
  .artistSingleWrapper {
    padding: var(--space-L) var(--space-S);
  }

  .worksWrapper {
    flex-direction: column;
    justify-content: center;
  }

  .worksInner {
    width: 100%;
    height: 80px;
    padding: 0;
    min-height: unset;
  }
  .artistSingleWrapper p {
    padding: 0;
  }
  .exhibitionDesktop {
    display: none;
  }
  .exhibitionMobile {
    display: block;
  }
  .nameWrapper {
    height: 45 px;
  }
  .sectionWrapper {
    width: 100%;
  }

  .sectionWrapper h2 {
    padding: var(--space-L) 0 var(--space-S);
  }
  .marqueeBig p {
    font-size: var(--fontSize-L);
    padding-bottom: 5px;
  }
  .marqueeSmall {
    max-width: 400px;
  }
  .index {
    transform: translateY(-73px);
  }
  .navHidden {
    padding-top: 60px;
  }
}
